#loginForm {
  /* background: url('../../assets/img/bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  margin-top: 250px;
}

button[name='register'] {
  margin-left:20px;
}

.sign-content {
  max-width: 620px;
  margin: 0 auto;
  margin-top:100px
}
