<app-admin-landing></app-admin-landing>
<h3 style="margin-top:20px;">Add New Stock Exchange</h3>
<hr>
<form [formGroup]="addStockExchangeForm">
  <div class="form-group">
    <label for="stockExchange">stockExchange</label>
    <input type="text" formControlName="stockExchange" class="form-control" id="stockExchange">
  </div>
  <div class="form-group">
    <label for="turnover">brief</label>
    <input type="text" formControlName="brief" class="form-control" id="brief">
  </div>
  <div class="form-group">
    <label for="address">address</label>
    <input type="text" formControlName="address" class="form-control" id="address">
  </div>
  <div class="form-group">
    <label for="remarks">remarks</label>
    <input type="text" formControlName="remarks" class="form-control" id="remarks">
  </div>
</form>
<div class="row"  style="margin-bottom:50px;">
  <div class="col-md-12">
    <button type="button" class="btn btn-success btn-block" (click)="addStockExchange()">Add</button>
  </div>
</div>

<div class="alert alert-success" role="alert" style ="margin-top:30px;" *ngIf="isShow">
Add New Stock Exchange successfully !
</div>