<app-admin-landing></app-admin-landing>
<div class="row" style="margin:0 auto;">
    <h3 style="margin-top:30px;">
      Welcome to the stock admin management system !
    </h3>
  </div>
  <div class="row" style="margin:0 auto;">
    <table class="table" style="margin-top:30px;">
      <thead class="thead-light">
        <tr>
          <th scope="col">Support Functionalities</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Search Company</th>
          <td>Search for a company to display Company details </td>
        </tr>
        <tr>
          <th scope="row">Upload Excel</th>
          <td>Upload Excel to backend, feed stock price of a company at various points of time</td>
        </tr>
        <tr>
          <th scope="row">ManagCompany</th>
          <td>Add a new company ,edit existing company details </td>
        </tr>
        <tr>
          <th scope="row">ManageStock Exchanges</th>
          <td>Lists all the Stock Exchanges,add new Stock Exchanges </td>
        </tr>
        <tr>
          <th scope="row">Manage IPO</th>
          <td>Add new IPO details</td>
        </tr>
        <tr>
          <th scope="row">Login/Logout</th>
          <td>Login/Logout system</td>
        </tr>
      </tbody>
    </table>
  </div>