<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/adminHome" routerLinkActive="active">Stock System</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/adminHome" routerLinkActive="active">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/excel" routerLinkActive="active">Upload Excel<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Company
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/company/add" routerLinkActive="active">Add New company</a>
          <a class="dropdown-item" routerLink="/company/list" routerLinkActive="active">Edit Existing company</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Stock Exchanges
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/stockexchange/list" routerLinkActive="active">Stock Exchanges List</a>
          <a class="dropdown-item" routerLink="/stockexchange/add" routerLinkActive="active">Add New Stock Exchanges</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ipo/add" routerLinkActive="active">IPO<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">Logout<span class="sr-only"></span></a>
      </li>
    </ul>
    <app-search (searchTrigger)="getCompanyByName($event)"></app-search>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="row" *ngIf="isShow" style=" margin-bottom:50px; margin:0 auto;">
  <h3 style="margin-top:20px;">Search Result:</h3>
  <hr>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">CEO</th>
        <th scope="col">Stock Exchange</th>
        <th scope="col">Sector</th>
        <th scope="col">Board Members</th>
        <th scope="col">Turn Over</th>
        <th scope="col">Brief</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let companyItem of companyList">
        <td>{{companyItem.companyName}}</td>
        <td>{{companyItem.ceo}}</td>
        <td>{{companyItem.stockExchange}}</td>
        <td>{{companyItem.sector}}</td>
        <td>{{companyItem.boardDirector}}</td>
        <td>{{companyItem.turnover}}</td>
        <td>{{companyItem.writeup}}</td>
      </tr>
    </tbody>
  </table>
</div>