<app-user-landing></app-user-landing>
<div class="row" style="margin:0 auto;">
    <h3 style="margin-top:30px;">
      Welcome to the stock chart system !
    </h3>
  </div>
  <div class="row" style="margin:0 auto;">
    <table class="table" style="margin-top:30px;">
      <thead class="thead-light">
        <tr>
          <th scope="col">Support Functionalities</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Search Company</th>
          <td>Search for a company to display Company details </td>
        </tr>
        <tr>
          <th scope="row"> Signup/Login/Logout</th>
          <td>User Signup/Login/Logout</td>
        </tr>
        <tr>
          <th scope="row">Update profile</th>
          <td>Update profile, password of an already existing account</td>
        </tr>
        <tr>
          <th scope="row">Comparison Charts between Company / Sector</th>
          <td>Comparison Charts between Company / Sector over different periods of time</td>
        </tr>
        <tr>
          <th scope="row">View IPO </th>
          <td>View company IPO details</td>
        </tr>
      </tbody>
    </table>
  </div>